{% extends 'layout.html.twig' %}

{% block title %}Mon parcours d'intégration{% endblock %}

{% block body %}

    <div class="container">
        {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}

            <div class="page-header">
                <h1>Parcours d'intégration de {{ user.firstname }} {{ user.lastname }}</h1>
            </div>
            <a class="btn btn-primary mb-5" href="{{ path('profile', {'user': user.id }) }}">Retour au profil du
                collaborateur</a>

        {% else %}
            <div class="page-header">
                <h1>Mon parcours d'intégration</h1>
            </div>
        {% endif %}
        <ul class="timeline">
            {% for step in steps %}
                <li class="{{ loop.index is odd ? '' : 'timeline-inverted' }}" {{ statuses[step.id] == 'in-progress' ? 'id="active"' : '' }}>
                    <div class="timeline-badge" style="background-color: {{ statuses[step.id] == 'completed' ? '#aeaeae;' : step.color }}" ><i
                                class="{{ step.fontAwesome }}" style="color:#495057;"></i></div>
                    <div class="timeline-panel {{ statuses[step.id] }}">
                        <div class="timeline-heading">
                            <h4 class="timeline-title" >{{statuses[step.id] == 'in-progress' ? '<b>Etape en cours : </b>': ''}} {{ step.name }}</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Durée : {{ durations[step.id] }}
                                  </small></p>
                        </div>
                        <div class="timeline-body">
                            <p>{{ step.description|nl2br }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
