{% extends 'layout.html.twig' %}

{% block title %}Modifier du contenu{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h1>Modifier le contenu</h1>
                    </div>
                    <div class="m-3">
                        {{ include('content/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
                        <a class="btn btn-primary mt-3" href="{{ path('document_index_texts') }}" target="_blank">Voir
                            les documents disponibles</a>
                        <a class="btn btn-primary mt-3" href="{{ path('document_index_images') }}" target="_blank">Voir
                            les images disponibles</a>

                        {{ include('content/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-2 mb-5">
        <a class="btn btn-primary" href="{{ path('content_index') }}">Retour</a>
    </div>

{% endblock %}
