{% extends 'layout.html.twig' %}

{% block title %}Contenu{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h1>Contenu</h1>
                    </div>

                    <table class="table nemea-content">
                        <tbody>
                        <tr>
                            <th>Titre</th>
                            <td>{{ content.title }}</td>
                        </tr>
                        <tr>
                            <th>Texte</th>
                            <td>{{ content.content|raw }}</td>
                        </tr>
                        <tr>
                            <th>Crée le</th>
                            <td>{{ content.createdAt ? content.createdAt|date('d/m/Y') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Crée par</th>
                            <td>{{ content.user.firstname }} {{ content.user.lastname }}</td>
                        </tr>
                        <tr>
                            <th>Mis à jour le</th>
                            <td>{{ content.updatedAt ? content.updatedAt|date('d/m/Y') : '' }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="d-flex align-items-end">
                        <a class="btn btn-primary mr-4 ml-4 mb-4" href="{{ path('content_edit', {'id': content.id}) }}">Modifier</a>
                        <div class="mb-4">
                            {{ include('content/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <a class="btn btn-primary" href="{{ path('content_index') }}">Retour</a>
        </div>
    </div>

{% endblock %}
