{% extends 'layout.html.twig' %}

{% block title %}Compte rendu de rendez-vous{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card w-100 m-auto">
                    <div class="card-header">
                        <h1> Compte rendu du {{ appointment.date|date ("d/m/Y") }}
                            avec {{ appointment.user.firstname }} {{ appointment.user.lastname }}</h1>
                        {{ form_start(form) }}
                        {{ form_row ( form.summary ) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-primary mb-3">{{ button_label|default('Sauvegarder') }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}