<p class="font-weight-bold text-uppercase text-center px-2 small py-2 mt-2 mb-0">
    <a class="nav-title" data-toggle="collapse"
       href="#collapse-categories" role="button" aria-expanded="false" aria-controls="collapse-categories">
        Articles<i class="fas fa-sort-down ml-2"></i>
    </a>
</p>

<div class="collapse nav mb-0 justify-content-center" id="collapse-categories">
    <ul class="nav flex-column mb-0">
        {% for category in categories %}
                <li class="nav-item">
                    <a href="{{ path('info', {'category': category.id }) }}" class="nav-link">
                        <i class="fas fa-folder-open mr-3 fa-fw"></i>
                        {{ category.name }}
                    </a>
                </li>
        {% endfor %}
    </ul>
</div>

{% if not is_granted('ROLE_COLLABORATOR') %}
<p class="nav-title font-weight-bold text-uppercase text-center pb-2 pt-3 small py-2 mt-2 mb-0">
        Le coin du manager
</p>

<ul class="nav manager mb-0 justify-content-center">
    <li class="nav-item">
        <a href="{{ path('info', {'category': manager_category.id }) }}" class="nav-link">
            <i class="fas fa-clipboard-list mr-3 fa-fw"></i>
            {{ manager_category.name }}
        </a>
    </li>
    {% if is_granted('ROLE_MANAGER') %}
    <li class="nav-item">
        <a href="{{ path('manager_show', {'user': app.user.id }) }}" class="nav-link">
            <i class="fas fa-users mr-3 fa-fw"></i>
            Collaborateurs
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}
