{% extends 'layout.html.twig' %}

{% block title %}Gestion{% endblock %}

{% block body %}
    <div class="container admin mt-1">
        <div class="page-header">
            <h1 class="ml-5 mb-1">Gestion</h1>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <a href="{{ path('user_index') }}">
                    <div class="card">
                        <div class="card-header text-center py-4 mb-0">
                            <i class="fas fa-users fa-fw"></i>
                        </div>
                        <div class="card-body text-center">
                            Collaborateurs
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="{{ path('checklist_item_index') }}">
                    <div class="card">
                        <div class="card-header text-center py-4 mb-0">
                            <i class="fas fa-tasks fa-fw"></i>
                        </div>
                        <div class="card-body text-center">
                            Checklist
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="{{ path('integration_step_index') }}">
                    <div class="card">
                        <div class="card-header text-center py-4 mb-0">
                            <i class="fas fa-walking fa-fw"></i>
                        </div>
                        <div class="card-body text-center">
                            Parcours
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="{{ path('residence_index') }}">
                    <div class="card">
                        <div class="card-header text-center py-4 mb-0">
                            <i class="fas fa-home fa-fw"></i>
                        </div>
                        <div class="card-body text-center">
                            Résidences
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="{{ path('position_index') }}">
                    <div class="card">
                        <div class="card-header font-weight-bold text-center py-4 mb-0">
                            <i class="fas fa-briefcase fa-fw"></i>
                        </div>
                        <div class="card-body text-center">
                            Fonctions
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="{{ path('category_index') }}">
                    <div class="card">
                        <div class="card-header text-center py-4 mb-0">
                            <i class="fas fa-folder-open fa-fw"></i>
                        </div>
                        <div class="card-body text-center">
                            Catégories
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="{{ path('document_index_texts') }}">
                    <div class="card">
                        <div class="card-header text-center py-4 mb-0">
                            <i class="fas fa-file-word fa-fw"></i>
                        </div>
                        <div class="card-body text-center">
                            Documents
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="{{ path('document_index_images') }}">
                    <div class="card">
                        <div class="card-header text-center py-4 mb-0">
                            <i class="fas fa-images fa-fw"></i>
                        </div>
                        <div class="card-body text-center">
                            Images
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="{{ path('content_index') }}">
                    <div class="card">
                        <div class="card-header font-weight-bold text-center py-4 mb-0">
                            <i class="fas fa-newspaper fa-fw"></i>
                        </div>
                        <div class="card-body text-center">
                            Articles
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}

