{{ form_start(form) }}
<div class="m-3">
    <div class="row">
        <div class="col-md-6">{{ form_row ( form.firstname ) }}</div>
        <div class="col-md-6">{{ form_row ( form.lastname ) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{ form_row ( form.email ) }}</div>
        <div class="col-md-6">{{ form_row ( form.telephone ) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row ( form.position ) }}</div>
        <div class="col-md-4">{{ form_row ( form.role ) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row ( form.mentor ) }}</div>
        <div class="col-md-4">{{ form_row ( form.referent ) }}</div>
        <div class="col-md-4">{{ form_row ( form.manager ) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{ form_row ( form.residence ) }}</div>
        <div class="col-md-6">{{ form_row ( form.residencePilote ) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Date d'entrée{{ form_row ( form.startDate ) }}</div>
        {% if form.password is defined %}
            <div class="col-md-6">{{ form_row ( form.password ) }}</div>
        {% endif %}
    </div>
</div>
{{ form_widget(form) }}
<button class="btn btn-primary mb-3 ml-3">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
